.App {
	text-align: center;
}

h1{
	margin: 0;
	background: #cab6b6;
}

.stl {
	background: #230396;
	color: white;
	border: 1px solid rgb(143, 143, 243);
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35px;
	height: 35px;
	border: 5px solid rgb(76, 76, 218);
	border-radius: 50%;
	border-left-color: transparent; /* часть кружка отсутствует (прозрачная) */
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
